@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<form asp-action="FD_Action" asp-controller="Home">

   


<div class="text-center">
    <h1 class="display-4">Input Elements</h1>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="First Name" name="lname">
        <label for="floatingInput">First Name</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Last Name" name="fname">
        <label for="floatingInput">Last Name</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="pwd">
        <label for="floatingPassword">Password</label>
    </div>
    <div class="form-check mb-3">
        <input type="radio" name="gender" value="Male"><span> Male</span>
    </div>
    <div class="form-check mb-3">
        <input  type="radio" name="gender" value="Female"> <span> Female</span>
    </div>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email">
        <label for="floatingInput">Email address</label>
    </div>

    <div class="form-floating mb-3">
        <textarea placeholder="Message" class="form-control" name="comment"></textarea>
        <label for="floatingInput">Comment</label>
    </div>
    <div class="d-grid mb-3">
            <input type="submit" value="Submit" class="btn btn-dark"  />
    </div>
</div>
    <div class="@ViewBag.value">
        <p>@ViewBag.fullname</p>
        <p>@ViewBag.password</p>
        <p>@ViewBag.gender</p>
        <p>@ViewBag.email</p>
        <p>@ViewBag.message</p>
  </div>

</form>

